* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wallet__container {
  width: 100%;
  height: 200vh;
  background-color: red;
  display: grid;
  grid-template-columns: 13% 1fr;
}

.left__container {
  background-color: white;
  height: 50%;
}

.right__container {
  background-color: #dcd4d4;
  width: 100%;
  height: 50%;
}

.column__argon {
  width: 100%;
  height: 7.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.argon__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 6%;
  height: 9vh;
}

.argon__text p {
  font-size: 2rem;
  color: #0a4e67;
}

.argon__text i {
  font-size: 1.3rem;
  color: #18566d;
}

.hr__argon {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.argon img {
  width: 143px;
  height: 50px;
}

.img__holder {
  width: 75px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #d4d4d4;
}

.img__holder img {
  width: 60px;
  height: 51px;
}

.column__clone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 10.5vh;
}

.column__clone_container {
  width: 100%;
  height: 10vh;
  line-height: 1.3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.column__clone_container p {
  font-size: 1rem;
  font-weight: 400;
}

.column__clone_container h4 {
  font-size: 1.2rem;
  font-weight: 500;
}

.text__holder_clone {
  text-align: start;
}

.hr__clone {
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.options {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  /* background-color: rebeccapurple; */
}

.options1 {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  font-size: medium;
  cursor: pointer;
  background-color: #f7f7f7;
}

.options1 i {
  color: #1860b9;
}

.options2 {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;
  cursor: pointer;
  font-size: medium;
  /* background-color: aqua; */
}

.options2 i {
  color: #4d7db8;
}

.options3 {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;
  font-size: medium;
  cursor: pointer;
  /* background-color: aqua; */
}

.options3 i {
  color: #ff0000e0;
}

.options4 {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;
  font-size: medium;
  cursor: pointer;
  /*  background-color: aqua; */
}

.options5 {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  font-size: medium;
  cursor: pointer;
  /* background-color: aqua; */
}

.options5 i {
  color: #e1536b;
}

.options6 {
  width: 90%;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5.3%;
  font-size: medium;
  cursor: pointer;
  /* background-color: aqua; */
}

.options6 i {
  color: green;
}

.help {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  background-color: purple; */
}

.help__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11%;
  height: 20vh;
  bottom: 30px;
  border: 1px solid grey;
  line-height: 2;
  border-radius: 8px;
  position: absolute;
  color: white;
  background: linear-gradient(#5f72be, #9921e8);
}

.help__container h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.help__container p {
  font-size: 1.2rem;
  font-weight: 400;
}

.help__container1_button button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 6px;
  font-size: large;
}

.help__container1_text {
    text-align: left;
    width: auto;
    padding-left: 3px;
}

.blur {
    color: #bfbaba;
    font-size: small;
}

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#1e3fc3, #4e5ee7);
    padding-left: 5%;

}

.elon {
    width: 300px;
    height: 25px;
    border-radius: 6px;
    background-color: white;
    color: #0901f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex__box {
    width: 250px;
    /* background-color: white; */
}

.flex__box1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.flex__box1 p {
    letter-spacing: 4;
}

.flex__box2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.4%;
}

.left__navnar {
    width: 1000px; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(170, 17, 17); */
}

.icon__container {
    width: 300px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   /*  background-color: green;  */
    gap: 6%;
}

.icon__container i {
    color: #fff;
    font-size: 20px;
}

.deposit__container {
    width: 95%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
    